<!doctype html>
<html lang="zh_Hans_CN" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>About | Frost&#39;s Blog</title>
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
  <link rel="apple-touch-icon" href="/static/images/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="Frost&#39;s Blog atom feed" href="/feed.xml">
  <meta name="description" content="醉后不知天在水，满船清梦压星河">
  <meta property="og:site_name" content="Frost&#39;s Blog">
  <meta property="og:type" content="website">
  <meta property="og:title" content="About">
  <meta property="og:description" content="醉后不知天在水，满船清梦压星河">
  <meta property="og:url" content="http://frostming.com/about">
  <meta property="og:image" content="http://frostming.com/static/images/favicon.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="http://frostming.com/static/images/favicon.png">
  
    <meta name="twitter:creator" content="@frostming90">
    <meta name="twitter:site" content="@frostming90">
  
  <link rel="canonical" href="http://frostming.com/about">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
<link href="../static/css/df192689c1114f44a80bb778586c412d.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../static/css/flog.css">

<meta name="google-site-verification" content="h8jxTRuS6ULFwI6WDoBx0H-7GSBn8vvXSrgX08TrYYc" />
<!--[if lt IE 9]>
    <script src="../static/js/html5shiv.min.js"></script>
<![endif]-->
<script src="../static/js/jquery.min.js" crossorgin="anonymous"></script>
<script src="../static/js/moment-with-locales.min.js"></script>
<script>
moment.locale("en");
function flask_moment_render(elem) {
    $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
    $(elem).removeClass('flask-moment').show();
}
function flask_moment_render_all() {
    $('.flask-moment').each(function() {
        flask_moment_render(this);
        if ($(this).data('refresh')) {
            (function(elem, interval) { setInterval(function() { flask_moment_render(elem) }, interval); })(this, $(this).data('refresh'));
        }
    })
}
$(document).ready(function() {
    flask_moment_render_all();
});
</script>

<script>
moment.locale("zh-cn");
</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="../static/js/3424671173e0429daef0d9912310df9c.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-138226928-1');

</script>

  
  
  <style>:root {--primary-color: #346FAB;}</style>
</head>

<body>

  
  
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark" data-aos="fade-in">
    <a class="navbar-brand" href="/">
  <img src="../static/picture/favicon.png" width="40" height="40" class="d-inline-block" alt="">
  <span class="heading">Frost&#39;s Blog</span></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse align-items-center justify-content-between" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a href="/archive" class="nav-item nav-link">归档</a>
    
      
      <a href="/about" class="nav-item nav-link">关于</a>
      
    
      
      <a href="/projects" class="nav-item nav-link">项目</a>
      
    
      
    
  </div>
  <form class="form-inline my-2 my-lg-0" action="/search">
    <input class="form-control mr-sm-2" type="search" name="search" aria-label="Search" required>
    <button class="btn btn-dark my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
  </nav>
  

  <section class="container-fluid page-head lazy" data-aos="fade-in" >
    <div class="shade"></div>
    
  </section>
  
  <section class="main" id="main">
    <div class="container">
      <div class="row">
        <div class="col-12  px-lg-5 center-box page-links" data-aos="fade-up">
          
<article>
  <div class="post-text yue" itemprop="content">
    <h1 id="about-me">About Me</h1>
<div class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <a class="nav-link nav-item active"data-toggle="pill" href="#pills-chinese" role="tab" aria-controls="pills-home" aria-selected="true">中文</a>
  <a class="nav-link nav-item" data-toggle="pill" href="#pills-english" role="tab" aria-controls="pills-profile" aria-selected="false">English</a>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-chinese" role="tabpanel" aria-labelledby="pills-home-tab">
<p>我是一名<span class="pangu"></span>Python<span class="pangu"></span>开发工程师，坐标深圳。平时喜欢折腾技术，写写技术文章。也是个开源爱好者。</p>
<p>我现在维护一个公司内部的持续集成、交付系统。主要技能有：</p>
<ul>
<li>Python</li>
<li>HTML + CSS</li>
<li>Web</li>
<li>Javascript</li>
<li>爬虫</li>
</ul>
<blockquote class="centerquote">
人生苦短，我用Python
</blockquote>
<h2 id="she-ying">摄影</h2>
<p>平时有空时外出拍拍照（虽然现在越来越少了），使用尼康<span class="pangu"></span>D7100，欢迎访问<a href="https://www.instagram.com/frostming90">我的<span class="pangu"></span>Instagram</a></p>
<h2 id="ge-xing-she-zhi">个性设置</h2>
<ul>
<li>终端：iTerm2+Oh my zsh(Mac)，Powershell+Ubuntu WSL(Windows 10)</li>
<li>配色：<a href="https://draculatheme.com/">Dracula</a></li>
<li>字体：<a href="https://www.typography.com/fonts/operator/styles/">Operator Mono</a></li>
<li>
开发环境：<ul>
<li>VSCode</li>
<li>Python 3</li>
<li>Pipenv</li>
</ul>
</li>
</ul>
<h2 id="guan-yu-ben-zhan">关于本站</h2>
<p>本站使用<span class="pangu"></span>Flask<span class="pangu"></span>开发，搭建日志见<a href="/2019/08-11/flask-blog">这篇博文</a></p>
  </div>
  <div class="tab-pane fade" id="pills-english" role="tabpanel" aria-labelledby="pills-profile-tab">
  I work as a DevOps engineer located in Shenzhen. I love playing with tech stuff and writing some plain posts. I am also an open-source contributer.
<p>I help maintain a internal CI/CD system as my daily work. Major skills include:</p>
<ul>
<li>Python</li>
<li>Web Development</li>
<li>Web crawling</li>
<li>HTML/CSS</li>
<li>Javascript</li>
</ul>
<blockquote class="centerquote">
Life is short, I use Python
</blockquote>
<h2 id="photography">Photography</h2>
<p>I also go out for shooting pictures using my Nikon D7100, less often nowadays though. Visit <a href="https://www.instagram.com/frostming90">My Instagram</a> for beautiful photos.</p>
<h2 id="my-setup">My Setup</h2>
<ul>
<li>Terminal：iTerm2+Oh my zsh(Mac)，Powershell+Ubuntu WSL(Windows 10)</li>
<li>Color theme：<a href="https://draculatheme.com/">Dracula</a></li>
<li>Font：<a href="https://www.typography.com/fonts/operator/styles/">Operator Mono</a></li>
<li>
Dev environment：<ul>
<li>VSCode</li>
<li>Python 3</li>
<li>Pipenv</li>
</ul>
</li>
</ul>
<h2 id="about-the-site">About the Site</h2>
<p>The site is developed with Flask, more details can be found in <a href="/2019/08-11/flask-blog">this blog post</a>(Chinese).</p>
  </div>
</div>
  </div>
</article>

        </div>
        <div class="col-12 d-none" data-aos="fade-left">
          
          
        </div>
      </div>
    </div>
    
  <a id="totop" title="Return to the top" class="invisible" href="javascript:void(0)"><i class="fa fa-fw fa-arrow-up"></i></a>

  </section>
  


  
  <footer class="footer text-center page-links">
    <ul class="social-links">
  
  <li>
    <a href="https://github.com/frostming" target="_blank" title="GitHub">
      
        
      
      <i class="fa fa-fw fa-github"></i>
    </a>
  </li>
  
  <li>
    <a href="https://twitter.com/frostming90" target="_blank" title="Twitter">
      
        
      
      <i class="fa fa-fw fa-twitter"></i>
    </a>
  </li>
  
  <li>
    <a href="https://www.zhihu.com/people/frostming" target="_blank" title="知乎">
      
        
      
      <i class="iconfont icon-zhihu"></i>
    </a>
  </li>
  
  <li>
    <a href="mailto:mianghong@gmail.com" target="_blank" title="Email">
      
        
      
      <i class="fa fa-fw fa-envelope"></i>
    </a>
  </li>
  
  <li><a href="/feed.xml" title="RSS"><i class="fa fa-fw fa-rss"></i></a></li>
</ul>
    <ul class="copyright">
      <li>Powered by <a href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a></li>
      <li>&copy;2016-2020<i class="fa fa-heart mx-2" style="color: var(--primary-color)"></i><a href="https://frostming.com">Frost Ming</a></li>
      
      <li><a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备18114812号</a></li>
      
    </ul>
  </footer>
  

  
    <script src="../static/js/popper.min.js" crossorgin="anonymous"></script>
<script src="../static/js/bootstrap.min.js" crossorgin="anonymous"></script>
<script>
  function async (u, c) {
    var d = document,
      t = 'script',
      o = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) {
      o.addEventListener('load', function (e) {
        c(null, e);
      }, false);
    }
    s.parentNode.insertBefore(o, s);
  }
  // Set the options to make LazyLoad self-initialize
  window.lazyLoadOptions = {
    elements_selector: ".lazy",
    // ... more custom settings?
  };

</script>

<script type="text/javascript" src="../static/js/flog.js"></script>

<script async src="../static/js/lazyload.min.js"></script>
<script async src="../static/js/busuanzi.pure.mini.js"></script>
  
  
</body>