{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}

{% block main %} 

<!-- beijing --> 
<section class="container-fluid page-head lazy" data-aos="fade-in" 
style="background-image:url({% static 'blog/images/1.jpg' %});"
>
    <div class="shade"></div>
    
<div class="blog-info mx-auto">
  
  <a href="/" class="blog-head-logo">
    <img class="avatar" src="{% static 'blog/picture/favicon.png' %}" alt="BlueSkyCC&#39;s Blog">
  </a>

  <h1 id="change_heading">
	BlueSkyCC
	</h1>
</div>

 <script>
	var url = document.location.toString();	// 得到当前网址的 url
	x = document.getElementById("change_heading");  //查找元素	
	if (url.search("categories") != -1) {
		x.innerHTML="分类：{{post_list.1.category.name}}";    //改变内容
	}
	if (url.search("tags") != -1) {
		x.innerHTML="标签：{{tag_name}}";    //改变内容
	}	
	if (url.search("archives") != -1) {
		x.innerHTML="归档：{{archive_year}}年{{archive_month}}月";   //改变内容
	}
</script> 

<a id="totop" title="Return to the top" class="visible" href="javascript:void(0)">
	<i class="fa fa-fw fa-arrow-up">

	</i>
</a>
</section>
<!-- -->


  <section class="main" id="main">
    <div class="container">
      <div class="row">
        <div class="col-12  px-lg-5 center-box page-links" data-aos="fade-up">
          
<article>
  <div class="post-text yue" itemprop="content">
    <h1 id="about-me">About Me</h1>
<div class="nav nav-pills mb-3" id="pills-tab" role="tablist">
 
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-chinese" role="tabpanel" aria-labelledby="pills-home-tab">
<p>我是一名软件开发工程师，坐标武汉。平时喜欢折腾技术，写写技术文章。也是个开源爱好者。</p>
<p>我现在处于准入职的状态。主要技能有：</p>
<ul>
<li>C/C++</li>
<li>Web</li>
<li>Python</li>

</ul>
<blockquote class="centerquote">
新时代的砖瓦工。
</blockquote>


<h2 id="guan-yu-ben-zhan">关于本站</h2>
<p>本站使用<span class="pangu"></span>Django<span class="pangu"></span>开发，搭建日志见<a href="#">待写</a></p>
  </div>
 
</div>
  </div>
</article>

        </div>

    </div>
  </section>
  {% endblock main %} 

