
{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}




{% block main %}
<section class="main" id="main">
<div class="container">
<div class="row">
	  
	  
<!-- 文章目录 -->	  
<div class="col-12 col-lg-8 px-lg-5 center-box page-links" data-aos="fade-up">
 {% for post in post_list %} 
    <div class="post-info d-flex align-items-center justify-content-between" data-type="article">
    <div flex="1">
    <div class="post-meta">
		<span class="post-date"><a href="#"><time class="entry-date"
		datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
		<a class="post-cat" href="#"><i class="fa fa-folder-open"></i>{{ post.category.name }}</a>
    </div>
      <div class="post-item-content">
        <a href="{{ post.get_absolute_url }}">
          <h3 class="post-item-title">{{ post.title }}</h3>
        </a>
      </div>
    </div>
 <!--   {% static 'blog/images/2020.jpg' %}  -->
      <div class="post-item-image">
        <a href="{% static 'blog/images/2020.jpg' %}">
          <figure class="lazy" data-bg="url({% static 'blog/images/2020.jpg' %})"></figure>
        </a>
      </div>
  </div>
	{% empty %}
		<div class="no-post">暂时还没有发布的文章！</div>
	{% endfor %}

	{% if is_paginated %}
	<div class="is_paginated d-flex justify-content-between">
	  
	  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" rel="prev" 
	  {% if page_obj.has_previous %}
		style="visibility: visible;" >
		<i class="fa fa-fw fa-angle-left"></i>上一页{% endif %}
	  </a>
	  
	  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" rel="next" 
	  {% if page_obj.has_next %}
		style="visibility: visible;" >
		下一页 <i class="fa fa-fw fa-angle-right"></i>{% endif %}
	  </a>
	</div>
	{% endif %}	
</div>
<!-- 文章目录 -->


<!-- 侧边栏 -->
<div class="col-12 col-lg-4" data-aos="fade-left">      

<div class="right-section">
  <h2><i class="fa fa-list"></i> 分类 </h2>
  <hr>
  <ul class="cat-list">
	{% show_categories %}
  </ul>
</div>

<div class="right-section">
  <h2><i class="fa fa-tags"></i> 标签</h2>
  <hr>
  <div class="mt-4" id="tag-cloud">
    {% show_tags %}  
  </div>
</div>

<div class="right-section">
  <h2><i class="fa fa-list"></i> 归档 </h2>
  <hr>
  <ul class="cat-list">
    {% show_archives %}  
 </div>




<div class="right-section">
  <h2><i class="fa fa-link"></i> 推荐</h2>
  <hr>
  <ul class="mt-4 page-links cat-list" id="friends">
    
    <li><a href="https://frostming.com/" target="_blank">Frog's Blog</a></li>
  </ul>
</div>
</div>
<!-- 侧边栏 -->

</div>
</div>
</section>
{% endblock main %}